Potestas/.vs/
Potestas/Potestas.Tests/bin/
Potestas/Potestas.Tests/obj/
Potestas/Potestas/bin/
Potestas/Potestas/obj/
Potestas/Potestas.Apps.Terminal/bin/Debug/netcoreapp2.2/Potestas.Apps.Terminal.deps.json
Potestas/Potestas.Apps.Terminal/bin/
Potestas/Potestas.Apps.Terminal/obj/
Potestas/Potestas.ADO.Plugin/bin/
Potestas/Potestas.ADO.Plugin/obj/
Potestas/Potestas.ORM.Plugin/bin/
Potestas/Potestas.ORM.Plugin/obj/
Potestas/Potestas.ORM.CodeFirstAproach/bin/
Potestas/Potestas.ORM.CodeFirstAproach/obj/
.vs/