<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fileStoragePath" value="storage.json"/>
    <add key="MongoDBName" value="observation"/>
    <add key="MongoDBCollectionName" value="energyObservations"/>
  </appSettings>
  <connectionStrings>
    <add name="ObservationConnection"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Observation;Integrated Security=True"/>
    <add name="MongoDBObservationConnection" connectionString="mongodb://host.docker.internal:27017/observation"/>
  </connectionStrings>
</configuration>